{% extends 'admin/AdminLTE_base.html' %}

{% block head_css %}
{{ super() }}
<style type='text/css'>
 .row-index {
   width: 50px;
   display: inline-block;
 }
</style>
<link href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
{% endblock %}

{% block body %}
<div class="container" style="padding: 10px; ">
  <h3>{{title}}</h3>
  <br/>
  <div class="row">
    <div class="col-md-3 mb-3">
      <label for="teams">班组</label>
      <select class="form-control form-control-sm" id="team-category" name="team-category" onChange="selectTeam()">
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 mb-3">
      <label for="filter">月份</label>
      <form class="form-inline">
        <div class="form-group input-daterange">
          <input id="month" name="month" type="text" placeholder="点击选择月份" data-date-format="yyyy-mm" class="form-control" />
        </div>
        <div class="form-group">
          <div class="input-bar-item">
            <a href="#" class="btn btn-primary" role="button" id="filter">查看</a>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 mb-3">
      <label for="selector">导出</label>
      <div id="toolbar" class="select">
        <select class="form-control">
          <option value="">导出本页</option>
          <option value="all">导出所有的</option>
          <option value="selected">导出选择的</option>
        </select>
        <div class="invalid-feedback">
          点此选择导出范围
        </div>
      </div>
    </div>
  </div>
  <table
    id="table"
    data-toolbar="#toolbar"
    data-show-export="true"
    data-show-columns="true"
    data-click-to-select="true"
    data-show-toggle="true"
    data-search="true"
    data-show-columns="true"
    data-pagination="true"
    data-height="600"
    data-show-footer="true"
  >
  </table>
</div>
{% endblock body %}

{% block tail_js %}
{{ super() }}
<script type='text/javascript'>
 $(window).load(function ()
   {
     $(function () {
       $('#table').bootstrapTable({});
     });
   });
</script>
<script>
 function airplaneFormatter () {
   return '总计'
 };

 function taskFormatter (data) {
   return data.length + ' 项'
 };

 function calculatedTimeFormatter (data) {
   var field = this.field
   return '总计工时: ' + data.map(function (row) {
     return row[field]
   }).reduce(function (sum, item) {
     return sum + item
   }, 0 )
 };

 function post (URL, query) {
   return $.post(
     URL,
     query
   );
 };

 function resetSelectToExport () {
   $('.select').each(function (index, item) {
     $(item).find('option:selected').attr('selected', false);
     $(item).find('option').first().attr('selected', true);
   });
 };

 $(window).load(function () {
   $(function () {
     $.getJSON(
       '/api/teams',
       function (data) {
         var teamCategory = document.getElementById('team-category');
         var teamMaps = Object.entries(data);

         if (teamMaps.length > 0) {
           var newOption = document.createElement('option');

           newOption.appendChild(document.createTextNode('请选择...'));
           teamCategory.appendChild(newOption);

           teamMaps.map((item, index, array) => {
             var newOption = document.createElement('option');

             newOption.appendChild(document.createTextNode(item[1]));
             newOption.setAttribute('value', item[0]);
             teamCategory.appendChild(newOption);
           })
         }
       }
     )
   });
 });

 function selectTeam () {
   resetSelectToExport();
 };

 $('#filter').click(function () {
   var exportDataType = $('.select').val();
   var teamCategory = document.getElementById('team-category');
   var month = $('#month').val();

   if (teamCategory.selectedIndex > 0 && teamCategory.options.length !== 0) {
     var selectTeam = teamCategory.options[teamCategory.selectedIndex].value;
   }

   if (selectTeam && month) {
     post('{{API}}', {teamID: selectTeam, yearAndMonth: month}).
       then(function (data) {

         var modifiedData = $.each(data, function (index, item) {
           item.state= false;
         });

         $('#table').bootstrapTable('destroy').bootstrapTable({
           exportDataType: exportDataType,
           exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'excel', 'pdf'],
           pageSize: 20,
           data: modifiedData,
           columns: [{
             field: 'state',
             checkbox: true,
             visible: exportDataType == 'selected',
           }, {
             field: 'name',
             title: '名称',
             sortable: true,
           },{
             field: 'times_of_month',
             title: '总工时',
             sortable: true,
           }, {
             field: 'times_of_no_schedules',
             title: '非例行排故',
             sortable: true,
           }, {
             field: 'times_of_schedules',
             title: '例行',
             sortable: true,
           }, {
             field: 'times_of_services',
             title: '勤务',
             sortable: true,
           }, {
             field: 'times_of_miscellaneousness',
             title: '车间杂项',
             sortable: false,
           }, {
             field: 'times_of_others',
             title: '其他',
             sortable: true,
           }]
         });
       });
   }
 });

 $(function () {
   $('#toolbar').find('select').change(function () {
     var exportDataType = $(this).val();
     var teamCategory = document.getElementById('team-category');
     var month = $('#month').val();

     if (teamCategory.selectedIndex > 0 && teamCategory.options.length !== 0) {
       var selectTeam = teamCategory.options[teamCategory.selectedIndex].value;
     }

     if (selectTeam && month) {
       post('{{API}}', {teamID: selectTeam, yearAndMonth: month}).
         then(function (data) {

           var modifiedData = $.each(data, function (index, item) {
             item.state= false;
           });

           $('#table').bootstrapTable('destroy').bootstrapTable({
             exportDataType: exportDataType,
             exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'excel', 'pdf'],
             pageSize: 20,
             data: modifiedData,
             columns: [{
               field: 'state',
               checkbox: true,
               visible: exportDataType == 'selected',
             }, {
               field: 'name',
               title: '名称',
               sortable: true,
             },{
               field: 'times_of_month',
               title: '总工时',
               sortable: true,
             }, {
               field: 'times_of_no_schedules',
               title: '非例行排故',
               sortable: true,
             }, {
               field: 'times_of_schedules',
               title: '例行',
               sortable: true,
             }, {
               field: 'times_of_services',
               title: '勤务',
               sortable: true,
             }, {
               field: 'times_of_miscellaneousness',
               title: '车间杂项',
               sortable: false,
             }, {
               field: 'times_of_others',
               title: '其他',
               sortable: true,
             }]
           });
         });
     }
   }).trigger('change');
 });

</script>

<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF/jspdf.min.js"></script>
<script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/extensions/export/bootstrap-table-export.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script>
 $('.input-daterange input').each(function () {
   $(this).datepicker({
     language: 'zh-CN', //语言
     autoclose: true, //选择后自动关闭
     clearBtn: true,//清除按钮
     format: 'yyyy-mm',//日期格式
     startViwe: 'month',
     minViewMode: 'months'
   });
 });

 $('#month').datepicker().on('changeMonth', function (e) {
   resetSelectToExport();
 });
</script>
{% endblock tail_js%}
