{% extends 'admin/AdminLTE_base.html' %}

{% block head_css %}
{{ super() }}
<style type='text/css'>
 .row-index {
   width: 50px;
   display: inline-block;
 }
</style>
<link href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
{% endblock %}

{% block body %}
<div class="container" style="padding: 10px; ">
  <h3>{{title}}</h3>
  <br/>
  <div class="row">
    <div class="col-md-4 mb-3">
      <label for="teams">班组</label>
      <select class="form-control form-control-sm" id="team-category" name="team-category" onChange="changeTeam()">
      </select>
      <div class="invalid-feedback">
        点此选择一个班组
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="workers">班组</label>
      <select class="form-control form-control-sm" id="worker" name="worker">
      </select>
      <div class="invalid-feedback">
        点此选择一个组员
      </div>
    </div>
  </div>
  <div id="toolbar"></div>
  <table
    id="table"
    data-toggle="true"
    data-toolbar="#toolbar"
    data-search="true"
    data-show-columns="true"
    data-pagination="true"
    data-height="600"
    data-show-footer="true"
    data-url={{ API }}>
    <thead>
      <tr>
        <th data-field="name">工作者</th>
        <th data-field="number">工号</th>
        <th data-field="date">日期</th>
        <th data-field="airplane" data-footer-formatter="airplaneFormatter">飞机</th>
        <th data-field="task" data-footer-formatter="taskFormatter">工作名称</th>
        <th data-field="calculated_time" data-footer-formatter="calculatedTimeFormatter">工时</th>
        <th data-field="kind">工作类别</th>
      </tr>
    </thead>
  </table>
</div>
{% endblock body %}

{% block tail_js %}
{{ super() }}
<script type='text/javascript'>
 $(window).load(function ()
   {
     $(function () {
       $('#table').bootstrapTable({});
     });
   });

 function airplaneFormatter () {
   return '总计'
 };

 function taskFormatter (data) {
   return data.length + ' 项'
 };

 function calculatedTimeFormatter (data) {
   var field = this.field
   return '统计工时: ' + data.map(function (row) {
     return row[field]
   }).reduce(function (sum, item) {
     return sum + item
   }, 0 )
 };
</script>
<script>
 $(window).load(function () {
   $(function () {
     $.getJSON(
       '/api/teams',
       function (data) {
         var teamCategory = document.getElementById('team-category');

         teamMaps = Object.entries(data);
         if (teamMaps.length > 0) {
           var newOption = document.createElement('option');
           newOption.appendChild(document.createTextNode('请选择...'));
           teamCategory.appendChild(newOption);
           teamMaps.map((item, index, array) => {
             var newOption = document.createElement('option');
             newOption.appendChild(document.createTextNode(item[1]));
             newOption.setAttribute('value', item[0]);
             teamCategory.appendChild(newOption);
           })
         }
       }
     )
   });
 });

 function changeTeam () {
   var workers = document.getElementById('worker');
   var teamCategory = document.getElementById('team-category');

   while (workers.options.length) {
     workers.remove(0);
   }

   if (teamCategory.selectedIndex !== 0) {
     var selectTeam = teamCategory.options[teamCategory.selectedIndex].value;

     $.post(
       '/api/teams',
       {
         teamID:selectTeam
       },
       function (data) {

         workerMaps = Object.entries(data);
         if (workerMaps.length > 0) {
           var newOption = document.createElement('option');
           newOption.appendChild(document.createTextNode('请选择...'));
           workers.appendChild(newOption);
           workerMaps.map((item, index, array) => {
             var newOption = document.createElement('option');
             newOption.appendChild(document.createTextNode(item[1]));
             newOption.setAttribute('value', item[0]);
             workers.appendChild(newOption);
           })
         }
       })
   }
 }
</script>
<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
{% endblock tail_js%}
